@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  width: 1519.5px;
  height: 768px;
  background-size: 100%;
  margin: 0px;
}
a {
  text-decoration: none;
}
main {
  margin-bottom: 20px;
}
footer {
  margin-bottom: 10px;
}
.site-header {
  display: flex;
  height: 61px;
  margin: 40px auto;
  margin-bottom: 0px;
  margin-left: 220px;
  width: 1078px;
  position: relative;
}
.site-header-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.container img {
  padding: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact {
  text-align: end;
  width: 1090px;
}
.contact a:hover {
  color: chocolate;
}
.text-container {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 19px;
  margin-top: 5px;
}
.text-container:hover {
  color: #f26522;
}

.copyrating {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  margin-top: 49px;
}
.logo-hover {
  display: flex;
  text-decoration: none;
  color: #fff;
}
/* .logohover:hover{
  color:chocolate;
} */
.logo-hover:hover {
  color: chocolate;
}
.logo-hover:hover .logo-img {
  background-image: url(../img/logo\ 2.png);
}
.logo-img {
  background-image: url(../img/House\ logo.svg);
  height: 47px;
  width: 53px;
  margin-top: 5px;
  margin-bottom: 9px;
}

.logo-text {
  display: flex;

  flex-direction: column;
  text-transform: uppercase;

  margin-left: 10px;
  align-items: flex-start;
}
.logo-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
}
.logo-title {
  font-size: 29px;
}

.image-container {
  position: relative;
}
.hover-text {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: red;
  padding: 5px;
  display: none;
  color: royalblue;
}
.contact img:hover .hover-text {
  display: block;
}
.hover-container {
  position: relative;
}
.hover-block {
  position: absolute;
  top: 186px;
  left: 40px;
  color: white;
  width: 304px;
  height: 55px;
  background: #f26522;
  text-align: start;
  opacity: 0;
  visibility: hidden;
  transition: 0.55s opacity, 0.55s visibility;
}
/* .hover-block:hover {
  opacity: 1;
} */
.hover-container:hover .text-container {
  color: #f26522;
}
.hover-container:hover .hover-block {
  opacity: 1;
  visibility: visible;
}
.hover-block p {
  margin-top: 7px;
  margin-left: 16px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #ffffff;
}
.text-hover-block {
  display: flex;
}
.price {
  margin-left: 16px;
  margin-right: 128px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
.view-details {
  font-family: "Roboto";
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.view-details::after {
  content: ">";
  display: flex;
  width: 5px;
  height: 10px;
  color: #ffffff;
}
